.tabs {
    margin-top: 10px;
}

.tab-item {
    display: inline-block;
    border: 1px solid #bdbdbd;
    border-radius: 3px;
    padding: 5px 10px;
}

.tab-item.active {
    background: lightblue;
}

.tab-list {
    display: none;
}

@media all and (max-width: 768px) {
    .tab-item {
        max-width: 70px;
        height: 35px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}